<div class="site-content">
	<article class="post page">

		{{> page-header title="About" class="left-shift" backgroundUrl="/images/mag-gabbert-about.jpg"}}
		<div class="post-content inner">
			<p>
				Mag Gabbert holds a PhD in creative writing from Texas Tech University and an MFA from The University of
				California at
				Riverside. Her essays and poems have been published in
				<i>32 Poems</i>, <i>Waxwing</i>, <i>The Rumpus</i>, <i>Thrush</i>, <i>The
					Cortland Review</i>, <i>Phoebe</i>, <i>Birmingham Poetry Review</i>, and many other journals.
				Mag teaches creative writing at Southern Methodist University
				and for Writing Workshops Dallas. She serves as the interviews editor for <i>Underblong Journal</i>.</p>
			<p style="padding-bottom: 1em;">
				<a class="button" id="cv_download"
					href="https://www.dropbox.com/s/5vhaone4495lccy/Gabbert%20Website%20CV%20PDF.pdf?dl=0">Download
					Mag's CV</a>
			</p>

			<h3 id="teaching_experience">Teaching Experience</h3>

			<table class="standard-table">
				<thead>
					<tr>
						<th>Position</th>
						<th>Course</th>
						<th>Institution</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>

					{{#each experience.teaching as |position title|}}

					{{#each position}}
					<tr>
						<td>{{title}}</td>
						<td>{{@key}}</td>
						<td>{{this.institution}}</td>
						<td>{{this.date}}</td>
					</tr>
					{{/each}}
					{{/each}}

				</tbody>
			</table>

			<br>

			<h3 id="editorial_experience">Editorial Experience</h3>

			<table class="standard-table">
				<thead>
					<tr>
						<th>Position</th>
						<th>Publication</th>
						<th>Institution</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>

					{{#each experience.editorial as |position title|}}

					{{#each position}}
					<tr>
						<td>{{title}}</td>
						<td>{{@key}}</td>
						<td>{{this.institution}}</td>
						<td>{{this.date}}</td>
					</tr>
					{{/each}}
					{{/each}}

				</tbody>
			</table>

			<br>

			<h3 id="awards">Awards &amp; Recognitions</h3>

			<ul>
				{{#each awards}}
				<li>{{this}}</li>
				{{/each}}
			</ul>
		</div>
	</article>
</div>