<div class="site-content">
	<article class="post page">

		{{> page-header title="Events" backgroundUrl="/images/mag-gabbert-events.jpg"}}

		<div class="post-content inner">

			<h3 id="past_events">Upcoming Events</h3>

			<div style="min-height: 565px; overflow: auto; margin-bottom: 2em;">
				<img src="/images/deep-ellum-lithop-2017.jpg" alt="Deep Ellum LitHop 2017"
						 style="margin-right: 2em; border: 1px solid #eeeeee; float: left"/>


				<div style="float: left; min-width: 220px; max-width: 300px; margin-top: 2em;">
					<p>Join Mag for the second annual <b>Deep Ellum LitHop</b>. Mag will be reading alongside Logen Cure, Courtney
						Marie, Paul Koniecki and others for the Pegasus Reading Series hosted by Wordspace. For more information
						about this year's LitHop events, click <a href="https://www.facebook.com/events/129649400912879/">here.</a>
					</p>
					<b>When:</b> Saturday, June 3rd 9:00pm<br/>
					<b>Where:</b> Kettle Art Gallery (2650 Main Street Dallas, TX)
					<br/>
					<br/>
				</div>
			</div>

			<div>
				<h3 id="past_events">Past Events</h3>

				<table class="standard-table">
					<thead>
					<tr>
						<th>Event</th>
						<th>Where</th>
						<th>Date</th>
					</tr>
					</thead>
					<tbody>

					{{#each pastEvents}}
						<tr>
							<td>
								{{#if this.link}}
									<a href="{{this.link}}" rel="external nofollow" class="external external-icon">{{@key}}</a>
								{{else}}
									{{@key}}
								{{/if}}
							</td>
							<td>
								{{this.place}}
							</td>
							<td>{{this.date}}</td>
						</tr>
					{{/each}}

					</tbody>
				</table>
			</div>

		</div>

	</article>
</div>
