<div class="site-content">
	<article class="post page">

		{{> page-header title="Events" backgroundUrl="/images/mag-gabbert-events.jpg"}}

		<div class="post-content inner">

			<h3 id="past_events">Upcoming Events</h3>

			<div style="min-height: 400px; overflow: auto; margin-bottom: 2em;">
				<img src="/images/spring_event_calendar.jpg" alt="Spring Event Calendar" style="max-height: 300px; margin-right: 2em; margin-top: 2.5em; border: 1px solid #eeeeee; float: left" />


				<div style="float: left; min-width: 220px; max-width: 380px; margin-top: 2em;">
					<p>Come see Mag at one of her spring events! Her 2019 lineup includes:</p>
					<ul>
					<li>22 Feb. 2019—Highland Park LitFest</li>
					<li>2 March 2019—Arlington Public Library</li>
					<li>14 March 2019—Carrollton League of Writers</li>
					
					</ul>
					<br />
					<br />
				</div>
			</div>

			<div>
				<h3 id="past_events">Past Events</h3>

				<table class="standard-table">
					<thead>
						<tr>
							<th>Event</th>
							<th>Where</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>

						{{#each pastEvents}}
						<tr>
							<td>
								{{#if this.link}}
								<a href="{{this.link}}" rel="external nofollow" class="external external-icon">{{@key}}</a>
								{{else}}
								{{@key}}
								{{/if}}
							</td>
							<td>
								{{this.place}}
							</td>
							<td>{{this.date}}</td>
						</tr>
						{{/each}}

					</tbody>
				</table>
			</div>

		</div>

	</article>
</div>