<div class="site-content">
  <article class="post page">

    {{> page-header title="Events" backgroundUrl="/images/mag-gabbert-events.jpg"}}

    <div class="post-content inner">

      <h3 id="past_events">Upcoming Events</h3>

      <p>Join Mag for the second spring installment of the LHUCA reading series! The evening will be a celebration and discussion of literature as a force for social change, an effort toward building up language and encouraging writers and non-writers alike to rally for a world full of hope and connection. As George Orwell famously put it, “One ought to recognize that present political chaos is connected with the decay of language.” The evening's presenters will include Christopher Soto, Mag Gabbert, and Justice Taylor, and a reception will immediately follow the event.</p> 
      <b>When:</b> Friday, March 31st 7:00pm<br/>
      <b>Where:</b> Louise Hopkins Underwood Center for the Arts (LHUCA) in the Firehouse Theater of the main building. The street address is 511 Avenue K, Lubbock, TX 79401
      <br />
      <br />

      <h3 id="past_events">Past Events</h3>
      
      <table class="standard-table">
        <thead>
          <tr>
            <th>Event</th>
            <th>Where</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>

          {{#each pastEvents}}
            <tr>
              <td>
                {{#if this.link}}
                  <a href="{{this.link}}" rel="external nofollow" class="external external-icon">{{@key}}</a>
                {{else}}
                  {{@key}}
                {{/if}}
              </td>
              <td>
                {{this.place}}
              </td>
              <td>{{this.date}}</td>
            </tr>
          {{/each}}

        </tbody>
      </table>

    </div>

  </article>
</div>
